* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
  letter-spacing: 1pt;
}

@font-face {
  font-family: "Caveat Bold";
  src: url(../fonts/Caveat-Bold.ttf) format("ttf");
}
@font-face {
  font-family: "Caveat Regular";
  src: url(../fonts/Caveat-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "GillSans Italic";
  src: url(../fonts/GillSans-Italic.ttf) format("ttf");
}
@font-face {
  font-family: "GillSans Light";
  src: url(../fonts/GillSans-Light.ttf) format("ttf");
}
@font-face {
  font-family: "GillSans";
  src: url(../fonts/GillSans.ttf) format("ttf");
}
@font-face {
  font-family: "Lato Bold";
  src: url(../fonts/Lato-Bold.ttf) format("ttf");
}
@font-face {
  font-family: "Lato Bold Italic";
  src: url(../fonts/Lato-BoldItalic.ttf) format("ttf");
}
@font-face {
  font-family: "Lato Italic";
  src: url(../fonts/Lato-Italic.ttf) format("ttf");
}
@font-face {
  font-family: "Lato Regular";
  src: url(../fonts/Lato-Regular.ttf) format("ttf");
}
.nav {
  position: fixed;
  left: 10px;
  margin: 20px;
  height: 70px;
  z-index: 5;
}

.links .icon {
  width: 500px;
  display: flex;
  margin-right: 100px;
}

.links .icon img {
  width: 150px;
  height: 55px;
  justify-content: left;
  align-items: left;
}

.links p {
  color: #000;
  font-weight: bolder;
  font-style: oblique;
  margin: 10px;
}

.links {
  margin-left: -10px;
  display: flex;
  background-color: none;
  height: 50px;
  overflow: hidden;
  /* opacity: 0; */
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
  transition: height 0s ease-out, opacity 0.5s ease-out;
  /* vh=viewport height; vw=viewport width one way to get around issues with 100% (mainly bc parent doesn't have parent on it) */
}

.links.active {
  /* display: flex; */
  height: 100vh;
  opacity: 1;
  background-color: #fff;
}

.bars {
  display: none;
}

.bars .bar {
  display: block;
  width: 50px;
  margin: 10px 0;
  background-color: #000;
  height: 1px;
  border-radius: 0px;
  transition: all 0.5s ease-in-out;
}

.bars.active .bar:nth-child(1) {
  transform: translateY(9.5px) rotate(45deg);
}

.bars.active .bar:nth-child(2) {
  opacity: 0;
}

.bars.active .bar:nth-child(3) {
  transform: translateY(-9.5px) rotate(-45deg);
}

a {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a:active {
  border-bottom: #000;
  border-width: 2px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .image .view {
    display: flex;
  }
  .links .icon img {
    display: none;
  }
  .links p {
    display: none;
  }
  .bars {
    display: block;
  }
  .links {
    height: 0;
    opacity: 0;
    flex-direction: column;
  }
}
.home .hero {
  z-index: -5;
}
.home .hero .imgholder {
  width: 100;
  height: 100vh;
  background-image: url(../img/home_hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.home .hero .imgholder .circles {
  display: flex;
}
.home .hero .imgholder .circles .yellow {
  border-radius: 200px;
  background-color: #ffd972;
  width: 360px;
  height: 360px;
  z-index: 1;
  box-shadow: 6px 30px 29px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
}
.home .hero .imgholder .circles .yellow .text {
  text-align: center;
  padding: 40px;
}
.home .hero .imgholder .circles .yellow .text h1 {
  font-size: 20pt;
  color: #000;
}
.home .hero .imgholder .circles .yellow .text p {
  color: #000;
  font-size: 12pt;
}
.home .hero .imgholder .circles .red {
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  z-index: 0;
  transform: translate(40%, -200%);
  border-radius: 100px;
  width: 166px;
  height: 166px;
  background-color: #fcbcb8;
  box-shadow: 6px 30px 29px rgba(0, 0, 0, 0.3);
}
.home .hero .imgholder .circles .red p {
  font-size: 9pt;
  font-style: oblique;
  text-align: justify center;
  padding-top: 46px;
  padding-bottom: 66px;
  padding-right: 33px;
  padding-left: 36px;
}

.browse {
  background-image: url(../img/recipes_hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.browse .content {
  padding: 100px 50px 50px;
}
.browse .content h1 {
  font-size: 25pt;
  font-weight: bold;
}
.browse .content .row {
  width: 100%;
}
.browse .content .row .col {
  width: 550px;
  height: 275px;
}
.browse .content .row .col .img {
  width: 300px;
  height: 275px;
}
.browse .content .row .col .box {
  width: 250px;
  height: 275px;
  background-color: #fff;
}
.browse .content .row .col .box h2 {
  font-size: 14pt;
  text-decoration: underline;
  font-weight: bold;
}
.browse .content .row .col .box .desc {
  width: 140px;
  height: 55px;
  font-size: 9pt;
}
.browse .content .row .col .box .time {
  display: flex;
}
.browse .content .row .col .box .time img {
  width: 24px;
  height: 24px;
}
.browse .content .row .col .box .time .cooking {
  font-size: 9pt;
}
.browse .content .row .col .box .serves {
  display: flex;
}
.browse .content .row .col .box .serves img {
  width: 24px;
  height: 24px;
}
.browse .content .row .col .box .serves .yield {
  font-size: 9pt;
}

.footer {
  background-color: transparent;
  align-items: center;
  justify-content: center;
}
.footer .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 10pt;
  font-style: oblique;
  position: absolute;
}
.footer .row .left {
  margin-left: 25px;
  margin-right: 25px;
  justify-content: left;
  align-items: left;
  color: #000;
}
.footer .row .center {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  color: #000;
}
.footer .row .center .footerlinks {
  color: #000;
  text-decoration: none;
  justify-content: space-evenly;
  margin-left: 10px;
  margin-right: 10px;
}
.footer .row .right {
  margin-left: 25px;
  margin-right: 25px;
  justify-content: right;
  display: flex;
}
.footer .row .right .fb {
  width: 20px;
  height: 20px;
  margin: 10px;
  cursor: pointer;
}
.footer .row .right .ig {
  width: 20px;
  height: 20px;
  margin: 10px;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
