.browse {
  background-image: url(../img/recipes_hero.png);
  background-repeat: no-repeat;
  background-size: cover;

  .content {
    padding: 100px 50px 50px;
    h1 {
      font-size: 25pt;
      font-weight: bold;
    
      
    }
    .row {
      width: 100%;
      .col {
        width: 550px;
        height: 275px;

        .img {
          width: 300px;
          height: 275px;
        }
        .box {
          width: 250px;
          height: 275px;
          background-color: #fff;
          h2 {
            font-size: 14pt;
            text-decoration: underline;
            font-weight: bold;
          }

          .desc {
            width: 140px;
            height: 55px;
            font-size: 9pt;
          }
          .time {
            display: flex;

            img {
              width: 24px;
              height: 24px;
            }
            .cooking {
              font-size: 9pt;
            }
          }

          .serves {
            display: flex;

            img {
              width: 24px;
              height: 24px;
            }
            .yield {
              font-size: 9pt;
            }
          }
        }
      }
    }
  }
}

// // DESKTOP DESKTOP DESKTOP
// @media screen and (min-width: 769px) {

// }
// // DESKTOP DESKTOP DESKTOP

// // TABLET TABLET TABLET
// @media screen and (max-width: 768px) {

//   }
// // TABLET TABLET TABLET

// // PHONE PHONE PHONE
// @media screen and (max-width: 360px) {

// }
// // PHONE PHONE PHONE
